<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Makr Order Viewer" %></title>
  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  
  <header class="site-header">
    <div class="row">
      <div class="small-1 large-1 columns">&nbsp;</div>
      <div class="small-10 large-10 columns">
        <div class="logo"></div>
        <% if cookies[:makr] %>
          <%= link_to "logout", logout_url,{:class => 'logout'} %>
        <% end %>
      </div>
      <div class="small-1 large-1 columns">&nbsp;</div>
    </div>
  </header>
  
    <div class="site-content">
      <%= yield %>
    </div>
    
    <footer class="site-footer">
      <div class="row">
        <div class="small-2 large-1 columns">&nbsp;</div>
        <div class="small-8 large-10 columns copyright"><p class="text-center">Copyright <%= Time.now.year %> Makr. Proudly Made In Brooklyn </p></div>
        <div class="small-2 large-1 columns">&nbsp;</div>
      </div>
    </footer>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>
