<div class="user_create">
  <div class="field">
    <%= display_error(:first_name) %>
    <%= f.text_field :first_name, :placeholder => 'first name' %>  
  </div>
  <div class="field">
    <%= display_error(:last_name) %>
    <%= f.text_field :last_name, :placeholder => 'last name' %>
  </div>
  <div class="field">
    <%= display_error(:email) %>
    <%= f.text_field :email, :placeholder => 'email' %>
  </div>
  <div class="field">
    <%= display_error(:password) %>
    <%= f.password_field :password, :placeholder => 'password' %>
  </div>
  <div class="field">
    <%= display_error(:password_confirmation) %>
    <%= f.password_field :password_confirmation, :placeholder => 'confirm password' %>
  </div>
</div>

<br/>