<div class="user_new">
	<div id="page_description">
	  <h2>reset password</h2>
	</div>
		<%= form_for(:user, :url => {:controller => 'users', :action => 'update_password'})  do |f| %>	    
			<div class="habit_type_create">
	      <%= f.password_field :password, :placeholder => 'password' %>
	    </div>
	    <div class="field">
	      <%= f.password_field :password_confirmation, :placeholder => 'confirm password' %>
			</div>
			  <%= f.hidden_field :password_reset, :value => params[:token] %>
			  <%= f.hidden_field :email, :value => params[:email] %>
			<div><%= submit_tag "change password", :id => "change_pass", :class => "button" %></div>	
		<% end %>
</div>
