<div class="user_new">
  <h2>create account</h2>
  <%= form_for(:user, :url => {:action => 'create'}) do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f} ) %>
    <div class="form-buttons">
      <%= submit_tag "create account", :class=> "button" %>
      <% end %>
    </div>
    <%= link_to "cancel", 
	      root_url, 
	      id: "cancel", 
	      :class => "button"
	  %>
</div>

    <%= link_to "privacy policy", 
      {:controller => 'privacy'}, 
      id: "privacy_signup" 
    %>