<h2>forgot your password?</h2>
<br />
<%= simple_form_for(resource, 
  :as => resource_name, 
  :url => password_path(resource_name), 
  :html => { :method => :post }) do |f| 
%>
  <%= f.error_notification %>

  <div class="form-inputs">
      <%= f.input :email, 
        :required => true, 
        :autofocus => true,
        :placeholder => 'email address',
        :label => false
      %>
    </div>
  <%= f.button :submit, 
    "reset my password",
    :class => 'btn btn-primary' 
  %>
  &nbsp;
  <%= link_to "cancel", 
    :back, :class => 'btn' 
  %>
<% end %>
<br />
<br />
<br />
<br />
<br />
<br />
<br />